body{
    background-color:black;
    color: #fff;
    font: 18px/25px 'Roboto', sans-serif;
}
a, a:hover, a:active, a:visited{
    color: #fff;
}
.image-avatar{
    text-align: center;
    margin: 0 auto;
}

.image-avatar img{
    width: 200px;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}

.image-avatar img:hover {
    background-clip: content-box;
    box-shadow: 0 0 0 3px rgba(red, 0.5);
}

.image-avatar img:hover{
    transform: scale(1.1);
}
.title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.container{
    width: 980px;
    margin: 0 auto;
    padding: 0 40px;
}
.copyright{
    text-align: center;
}
.social-links{

}

.social-links__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-links__item{
    margin-right: 10px;
}

.social-links__link{
    display: block;
    padding: 10px 15px;
}

.social-links__icon {
    width: 60px;
    height: 60px;
}

.contacts{

}

.contacts__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contacts__item{
    margin-right: 10px;
}

.contacts__link{
    display: block;
    padding: 10px 15px;
}

.contacts__icon{
    width: 60px;
    height: 60px;
}

