body{
    font-family: 'Roboto', sans-serif;
    background-color: #111111;
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
}
.header-logo__image-avatar{
    text-align: center;
    margin: 0 auto;
}

.header-logo__image-avatar img{
    width: 100px;
    height: auto;
    max-height: 320px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    /* box-shadow: 0 0 10px 3px rgb(0, 255, 193); */
}

.header-logo__image-avatar img:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px 3px rgb(97, 9, 0);
}

.copyright{
    text-align: center;
}

.social-links{

}

.social-links__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.social-links__item{
    margin-right: 10px;
    width: 85px;
    height: 66px;
}
#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
}
a,a:visited{
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: #eaeaea;
    cursor: pointer;
    text-decoration: underline;
}
.social-links__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.social-links__icon {
    width: 30px;
    height: 30px;
}

.contacts{

}
.stack .label{
    margin-bottom: 5px;
}
.contacts__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contacts__item{
    width: 100%;
    margin-right: 10px;
    margin-bottom: 15px;
}
.contacts__item-icon,
.social-links__link img{
    width: 40px;
}
.contacts__item-icon{
    margin-right: 15px;
}
.contacts__link{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.contacts__icon{
    width: 30px;
    height: 30px;
}

.label.primary{
    color: white;
    font-size: 18px;
}
.utp{
    line-height: 1.1;
}
.header-fixed-top{
    display: block;
    position: static;
    z-index: 1;
    padding: 20px;
    margin: auto;
 }
.header-logo{
}

.header-logo__text{
    text-align: center;
}