body{
    font-family: 'Roboto', sans-serif;
}
.image-avatar{
    text-align: center;
    margin: 0 auto;
}

.image-avatar img{
    width: 200px;
    height: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 10px 3px rgba(12, 12, 12, 0.96);
}


.image-avatar img:hover{
    transform: scale(1.02);
    box-shadow: 0 0 10px 3px rgb(97, 9, 0);
}

.copyright{
    text-align: center;
}

.social-links{

}

.social-links__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.social-links__item{
    margin-right: 10px;
}

.social-links__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.social-links__icon {
    width: 30px;
    height: 30px;
}

.contacts{

}
.stack .label{
    margin-bottom: 5px;
}
.contacts__list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.contacts__item{
    margin-right: 10px;
}

.contacts__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts__icon{
    width: 30px;
    height: 30px;
}

.label.primary{
    color: white;
    font-size: 18px;
}